name: 'build-test'
on:
  pull_request:
  push:
    branches-ignore:
      - master
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm lint
      - run: pnpm test
      - run: pnpm build
      - run: pnpm package
      - uses: actions/upload-artifact@v3
        with:
          name: dist
          path: ./dist/

  test:
    needs: [build]
    strategy:
      matrix:
        os: [ubuntu, macos, windows]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: dist

      - uses: ./
      - run: |
          firefox --version
      - uses: ./
        with:
          firefox-version: latest-esr
      - run: |
          firefox --version
      - uses: ./
        with:
          firefox-version: "84.0"
      - run: |
          firefox --version
      - uses: ./
        with:
          firefox-version: "devedition-84.0b1"
      - run: |
          firefox-developer --version
